<mat-toolbar class="app-header">
  <div class="breadcrumb d-flex flex-column">
    <h2 class="title-page mt-3">Nova Admissão Cooperado</h2>
    <div class="stepper">
      <span>Cadastro</span>/
      <span>Admissão do Cooperado</span>/
      <span>Nova Admissão de Cooperado</span>
    </div>
  </div>

  <div class="user-info">
    <div class="notification-container">
      <mat-icon class="notification-icon">notifications_none</mat-icon>
      <span class="notification-badge">7</span>
    </div>
    <span class="coop-name">VIACREDI</span>
    <div class="user-photo-container">
      <img src="assets/images/user.jpeg" alt="Foto do Funcionário" class="user-photo" />
      <button mat-icon-button class="gear-button">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
